<h1>Editing student</h1>
 
<%= form_for :student, url: student_path(@student), method: :patch do |f| %>
 
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this student from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :Nome %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :cognome %><br>
    <%= f.text_area :surname %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', students_path %>
