<% if !signed_in_student? && !signed_in? %>

<div class="alert alert-danger">Devi essere loggato per visualizzare questa pagina!</div>

<% else %>

	<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	  
	  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  	<% end %>
		<div class="panel panel-info" >
						<div class="panel-heading" style="color:#FFFFFF; background-color: #337ab7; border-color: #04779b;">
							<div class="panel-title">Profilo Studente</strong></div>
						</div> 

						<div class="row">
	                <div class=" col-md-10 col-lg-10 col-md-offset-1" > 
	                  <table class="table table-user-information" align="center">
	                    <tbody>
	                      <tr>
	                        <td><strong>Nome</strong></td>
	                        <td><%= @student.nome %></td>
	                      </tr>
	                      <tr>
	                        <td><strong>Cognome</strong></td>
	                        <td><%= @student.cognome %></td>
	                      </tr>
	                      <tr>
	                        <td><strong>Matricola</strong></td>
	                        <td><%= @student.matricola %></td>
	                      </tr>
	                      <tr>
	                        <td><strong>Email</strong></td>
	                        <td><a href=mailto:<%= @student.email %>><%= @student.email %></a></td>
	                      </tr>
	                    </tbody>
	                  </table>

	                  <% if signed_in_student? && @student.id == current_student.id%>
	                  
	                  <%= link_to "Edit", edit_studente_url, class: "btn btn-primary" %>

	                  <% end %>

	                </div>
	              </div>
		</div>
	<div>
	 
</div>

<% if signed_in?  || (signed_in_student? && (@student.id != current_student.id)) %>
	                  
	<a href="javascript:history.back()" class="btn btn-primary">Indietro</a>

 <% end %>

<% end %>