  <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="panel panel-info" >
      <div class="panel-heading" style="color:#FFFFFF; background-color: #337ab7; border-color: #04779b;">
        <div class="panel-title">Dettagli tesi</strong></div>
      </div> 

      <div class="row">
        <div class=" col-md-10 col-lg-10 col-md-offset-1" > 
          <table class="table table-user-information" align="center">
            <tbody>
              <tr>
                <td><strong>Titolo</strong></td>
                <td><%= @argument.titolo %></td>
              </tr>
              <tr>
                <td><strong>Descrizione</strong></td>
                <td><%= @argument.descrizione %></td>
              </tr>
              <tr>
                <td><strong>Tipologia</strong></td>
                <td><%= @argument.tipologia %></td>
              </tr>
              <tr>
                <td><strong>Interessati</strong></td>
                <td><%= @argument.interessati %></td>
              </tr>
               <tr>
                <td><strong>Professore</strong></td>
                <td>
                  <% prof = Professor.find(@argument.professor_id) %>
                  <%= link_to "#{prof.nome} #{prof.cognome}", profilo_professore_url(id: prof.id) %>
                  
                  
                </td>
              </tr>
              <tr>
                <td><strong>Stato</strong></td>
                <% stato = @argument.stato %>
                  <% if stato == "Libera" %>
                <td style="color: green"><%= @argument.stato %></td>
                 <% elsif stato == "Assegnata" %>
                  <td style="color: orange"><%= @argument.stato %></td>
                  <% elsif stato == "Completata"%>
                  <td style="color: red"><%= @argument.stato %></td>
                  <%end%>
              </tr>
            </tbody>
          </table>

          <% if signed_in? && @argument.professor_id == current_professor.id %>

          <%= link_to "Modifica", edit_tesi_url(:id => @argument.id), class: "btn btn-primary" %>

          <%= link_to 'Cancella', argument_path(@argument),
              method: :delete,
              class: "btn btn-danger",
              data: { confirm: 'Sei sicuro?' } %>

          <% elsif signed_in_student? %>

          <% if stato == "Libera" %>
            <%= link_to "Richiedi", nuova_richiesta_url(:id => @argument.id), class: "btn btn-success" %>
          <% end %>

          <% end %>

        </div>
      </div>
    </div>
    <div>

    </div>