<% if !signed_in_student? && !signed_in? %>

<div class="row">

	<div class="col-md-10 col-md-offset-1">


		<div id="loginbox" class="mainbox">  

			<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<div class="panel panel-info" >
				<div class="panel-heading" style="color:#FFFFFF; background-color: #337ab7; border-color: #04779b;">
					<div class="panel-title">Login</strong></div>
				</div> 

				<div class="row">

					<div class="col-md-6">    

						<div style="padding-top:20px" class="panel-body" >

							<div style="color:#337ab7; margin-bottom:20px"><b>Login professore</b></div>

							<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

							<%= form_for(:session, url: sessions_path) do |f| %>

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<%= f.email_field :email, class: 'form-control', :placeholder => "email", :required => true  %>                                        
							</div>

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<%= f.password_field :password, class: 'form-control', :placeholder => "password", :required => true  %>
							</div>


							<div style="margin-top:10px" class="form-group">
								<!-- Button -->

								<div class="col-sm-12 controls">
									<%= f.submit "Login", class: "btn btn-primary" %>
									<% end %>

								</div>
							</div>


							<div class="form-group">
								<div class="col-md-12 control">
									<div style="margin-top: 15px; border-top: 1px dotted #888; padding-top:15px; font-size:85%" >
										Non hai un account da professore?

										<%= link_to 'Registrati!', signup_professor_url %>

									</div>
								</div>
							</div>    

						</div>
					</div>


					<div class="col-md-6" style="border-left:1px #337ab7 solid; ">    

						<div style="padding-top:20px" class="panel-body" >

							<div style="color:#337ab7; margin-bottom:20px"><b>Login studente</b></div>

							<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

							<%= form_for(:sessions_student, url: sessions_students_path) do |f| %>

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<%= f.email_field :email, class: 'form-control', :placeholder => "email", :required => true  %>                                        
							</div>

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<%= f.password_field :password, class: 'form-control', :placeholder => "password", :required => true  %>
							</div>


							<div style="margin-top:10px" class="form-group">
								<!-- Button -->

								<div class="col-sm-12 controls">
									<%= f.submit "Login", class: "btn btn-primary" %>
									<% end %>

								</div>
							</div>


							<div class="form-group">
								<div class="col-md-12 control">
									<div style="margin-top: 15px; border-top: 1px dotted #888; padding-top:15px; font-size:85%" >
										Non hai un account da studente?

										<%= link_to 'Registrati!', signup_student_url %>

									</div>
								</div>
							</div>    

						</div>
					</div>


				</div>                     
			</div>  
		</div>

	</div>

</div>

<% else %>



	<% if signed_in? %>
		<% @professor = current_professor %>
	<% elsif signed_in_student? %>

		<% @student = current_student %>
	<% end %>

	<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>


<% @arguments = Argument.order("id DESC").all %>
<div class="panel panel-info" >
<table class="table table-hover">

<thead>
        <tr class="panel-heading" style="color:#FFFFFF; background-color: #337ab7; border-color: #04779b;">
          <th>#</th>
          <th>Titolo</th>
          <th>Descrizione</th>
          <th>Tipologia</th>
          <th>Interessati</th>
          <th>Professore</th>
          <th>Stato</th>
          <% if signed_in_student? %>
          <th></th>
          <% end %>
        </tr>
    </thead>

<tbody>


		<% @arguments.each do |argument| %>
		<% professor = Professor.find(argument.professor_id) %>
	    <tr>
	      <th scope="row"><%= argument.id %></th>
	      <td><%= link_to argument.titolo, visualizza_tesi_url(:id => argument.id)%></td>
	      <td><%= argument.descrizione[0..32]%><% if argument.descrizione.length > 33 %>...<%end%></td>
	      <td><%= argument.tipologia %></td>
	      <td><%= argument.interessati %></td>
	      <td><%= professor.nome %> <%= professor.cognome %></td>
	      <% stato = argument.stato %>
	      <% if stato == "Libera" %>
			<td style="color: green"><%= argument.stato %></td>
	     <% elsif stato == "Assegnata" %>
	     	<td style="color: orange"><%= argument.stato %></td>
	     	<% elsif stato == "Completata"%>
	     	<td style="color: red"><%= argument.stato %></td>
	     	<%end%>
	     	<% if signed_in_student? %>
	     	<td>
	     		<% if stato == "Libera" %>
				<%= link_to "Richiedi", nuova_richiesta_url(:id => argument.id), class: "btn btn-success richiesta" %>
				<% end %>
			</td>
			<% end %>
	      </tr>
	  	<% end %>
 	
       
      </tbody>

      </table>
  </div>

<%end%>

