<% if !signed_in? %>

<div class="alert alert-danger">Devi essere loggato per visualizzare questa pagina!</div>

<% else %>

	<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>

	<div class="panel panel-info" >
	<table class="table table-hover">

	<thead>
	        <tr class="panel-heading" style="color:#FFFFFF; background-color: #337ab7; border-color: #04779b;">
	          <th>ID</th>
	          <th>Titolo tesi</th>
	          <th>Studente</th>
	          <th>Stato</th>
	          <th> </th>
	          <th> </th>
	        </tr>
	    </thead>

	<tbody>
		<% @arguments.each do |argument| %>
			<% @requests = Request.where(argument_id: argument.id) %>
			<% @requests.each do |request| %>

			<% student = Student.find(request.student_id) %>
			<% if ((argument.stato == "Assegnata" || argument.stato == "Completata") && request.stato == "Accettata")%> 
		    	<tr>
		      	<th scope="row"><%= request.id %></th>
		      	<td><%= argument.descrizione[0..32]%><% if argument.descrizione.length > 33 %>...<%end%></td>
		      	<td><%= student.nome %> <%= student.cognome %></td>
		      	<td><%= argument.stato %> </td>
		      	<% if argument.stato == "Assegnata" %>
		      	<td><%= link_to 'Completata', edit_request_path(:id => request.id, :mode => '3'),
	              class: "btn btn-success richiesta"%></td>
					<td><%= link_to 'Cancella', edit_request_path(:id => request.id, :mode => '4'),
	              class: "btn btn-danger richiesta",
	              data: { confirm: 'Sei sicuro?' } %></td>
				<% end%>
				</td>
		    </tr>
		  	<% end %>
		  	<% end %>
		  	<% end %>
	  	
	       
	</tbody>

	</table>
	</div>

	<% end %>