	<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<div class="panel panel-info" >
			<div class="panel-heading" style="color:#FFFFFF; background-color: #337ab7; border-color: #04779b;">
				<div class="panel-title">Profilo Professore</strong></div>
			</div> 

			<div class="row">
				<div class=" col-md-10 col-lg-10 col-md-offset-1" > 
					<table class="table table-user-information" align="center">
						<tbody>
							<tr>
								<td><strong>Nome</strong></td>
								<td><%= @professor.nome %></td>
							</tr>
							<tr>
								<td><strong>Cognome</strong></td>
								<td><%= @professor.cognome %></td>
							</tr>
							<tr>
								<td><strong>Ufficio</strong></td>
								<td><%= @professor.ufficio %></td>
							</tr>
							<tr>
								<td><strong>Telefono</strong></td>
								<td><%= @professor.telefono %></td>
							</tr>
							<tr>
								<td><strong>Email</strong></td>
								<td><a href=mailto:<%= @professor.email %>><%= @professor.email %></a></td>
							</tr>
						</tbody>
					</table>

					<% if signed_in? && @professor.id == current_professor.id %>

					<%= link_to "Edit", edit_professore_url, class: "btn btn-primary" %>

					<% end %>
						

				</div>
			</div>
		</div>


	<div>

<% if signed_in_student?  || (signed_in? && (@professor.id != current_professor.id)) %>

	<a href="javascript:history.back()" class="btn btn-primary">Indietro</a>
<% end %>
	

